
<!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">UF Textbook Exchange</a>
          </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-item" routerLink="/login">
                      My Listings
                </a></li>
                <li><a class="nav-item" routerLink="/notes">
                  Firestore
                </a></li>
                <li><a class="nav-item" routerLink="/items">
                  Realtime DB
                </a></li>
                <li><a class="nav-item" routerLink="/uploads">
                  File Uploads
                </a></li>

              </ul>
              <form class="navbar-form">
                <div style="display:table;" class="input-group">
                  <span style="width: 1%;" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                  <input type="text" autofocus="autofocus" autocomplete="off" placeholder="Search Here" name="search" style="" class="form-control">
                </div>
              </form>


            </div>
        </div><!--/.container-fluid -->
      </nav>

