<h4>Filter By</h4>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Title
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Author
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Class
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Professor
  </label>
</div>

<div>
<label>
    Price
</label>
</div>
<form class="form">
  <div class="col-sm-4 nopadding">  
   

    <label class="sr-only" for="inlineFormInputName2">Name</label>
    <div class="input-group mr-sm-2">
      <input type="text" class="form-control" id="inlineFormInputName2" placeholder="Min">
    </div>



  </div>
  <div class="col-sm-4 nopadding"> 
    <label class="sr-only" for="inlineFormInput">Username</label>            
    <div class="input-group mb-2 mb-sm-0">
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Max">
    </div> 
  </div>

</form>