<div class="col-xs-12 col-sm-9">
          <p class="pull-left visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <nav aria-label="...">
            <ul class="pagination navbar">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item active">
                <span class="page-link">
                  1
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>

            </ul>
            <ul class="pagination navbar-right" >
              <li class="dropdown">
                <a href="#" class="dropdown-hover" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Newest<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Newest</a></li>
                  <li><a href="#">Price: Low to High</a></li>

                  <li><a href="#">Price: High to Low</a></li>
                </ul>
              </li>
            </ul>

          </nav>



          <div class="row">

            <div class="col-lg-4">
              <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block">
                  <img class="img-thumbnail" src="assets/images/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block">
                  <img class="img-thumbnail" src="assets/images/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block">
                  <img class="img-thumbnail" src="assets/images/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block">
                  <img class="img-thumbnail" src="assets/images/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block">
                  <img class="img-thumbnail" src="assets/images/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-outline-primary mb-3 text-center">
                <div class="card-block">
                  <img class="img-thumbnail" src="assets/images/a.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->