<div class="card">
  <img class="img-thumbnail" width="150px" src={{item.url}} alt="Card image cap">
<h4 [ngClass]="{ 'strike-out': !item.active }">
  {{ item.title || 'missing title' }}
</h4>
  {{item.author}}<br>
  {{item.course}}<br>
  {{item.price}}<br>
  <!--Task Active?: {{ item.active }}<br>
  {{ item.timeStamp | date: 'medium' }}-->

</div>

<div class="card-footer">
  <span class="button is-small is-info card-footer-item" (click)='updateTimeStamp()'>Update Timestamp</span>
  <span class="button is-small is-success card-footer-item" *ngIf='item.active' (click)='updateActive(false)'>Mark Complete</span>
  <span class="button is-small is-warning card-footer-item" *ngIf='!item.active' (click)='updateActive(true)'>Mark Incomplete</span>
  <span class="button is-small is-danger card-footer-item" (click)='deleteItem()'>Delete</span>
</div>
