<h3>New Listing</h3>

    <label class="label">Name: </label>

    <input placeholder="Class Code" class="input"
    [(ngModel)]="item.code"
    required minlength="7" maxlength="8"
    #code='ngModel' autofocus>

    <input placeholder="Book Title" class="input"
    [(ngModel)]="item.title"
    required minlength="2" maxlength="23"
    #title='ngModel' autofocus>
   
    Course Code
    <select>
      <option *ngFor= "let book of getBooks | async">{{book.course}}</option>
    </select>>
    <div *ngIf="title.dirty">
      <span *ngIf='title.errors; then errors else valid'>template renders here...</span>
    </div>


    <button class="button is-primary" (click)='createItem()' [disabled]="!title.valid || !code.valid">Create</button>


<ng-template #valid>
  <p class="help is-success">looks good!</p>
</ng-template>

<ng-template #errors>
  <p class="help is-danger">form contains errors!</p>
</ng-template>
